<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="/hangman_styles.css"/></head>
	<div id='letter_slots_container'>
	<% game.secret_word.length.times do |index| %>
		<% letter = game.secret_word[index] %>
			<% if game.guess_slots[letter] %>
				<span class='letter'><%= "#{letter.upcase} " %></span>
			<% else %>
				<span class='blank'><%= blank %></span>
			<% end %>
		<% end %>
	<br><br>
	</div>
	<div id="selection_container">
		<form action='guess'>
			<select id='letter_dropdown' name="char">
				<% letter_bank.each do |letter| %>
					<% unless game.guessed_letters.include? letter %>
							<option value="<%= letter %>"><%=letter%>
							</option>
					<% end %>
				<% end %>
			</select>
			<button id='guess_button' type="submit">GUESS!</button>
		</form>
	</div>
	<br>
	<div id='game_info'>
		<span>
			INCORRECT GUESSES LEFT: <%= game.turns_left %><br>
			GUESSED LETTERS: <%game.guessed_letters.each do |letter| %>
					<%= letter.upcase %>
				<% end %>
		</span>
	</div>
</html>